<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Fragment publicznej nawigacji -->
<div id="menu" th:fragment="navbar">
    <header>
        <a th:href="@{/}"><img th:src="@{/photo/autokonkret_whjite_alpha_mini.png}" alt="logo" ></a>
    </header>

    <nav class="content-menu hidden-dropdown">
        <div class="icnmenu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <ul class="hidden-dropdown-content list-unstyled">
                <!-- ZMIANA: Użycie zmiennej activePage -->
                <li><a th:href="@{/}" th:classappend="${activePage == 'home' ? 'active' : ''}">HOME</a></li>
                <li><a th:href="@{/onas}" th:classappend="${activePage == 'onas' ? 'active' : ''}">O NAS</a></li>
                <li><a th:href="@{/offers}" th:classappend="${activePage == 'offers' ? 'active' : ''}">OFERTA</a></li>
                <li><a th:href="@{/kontakt}" th:classappend="${activePage == 'kontakt' ? 'active' : ''}">KONTAKT</a></li>
<!--                <li><a th:href="@{/blog}" th:classappend="${activePage == 'blog' ? 'active' : ''}">AKTUALNOŚCI</a></li>-->
                <li><a th:href="@{/galeria}" th:classappend="${activePage == 'galeria' ? 'active' : ''}">GALERIA</a></li>
            </ul>
        </div>
        <ul class="content-menu centered-menu list-unstyled">
            <li><a th:href="@{/}" th:classappend="${activePage == 'home' ? 'active' : ''}">HOME</a></li>
            <li><a th:href="@{/onas}" th:classappend="${activePage == 'onas' ? 'active' : ''}">O NAS</a></li>
            <li><a th:href="@{/offers}" th:classappend="${activePage == 'offers' ? 'active' : ''}">OFERTA</a></li>
            <li><a th:href="@{/kontakt}" th:classappend="${activePage == 'kontakt' ? 'active' : ''}">KONTAKT</a></li>
<!--            <li><a th:href="@{/blog}" th:classappend="${activePage == 'blog' ? 'active' : ''}">AKTUALNOŚCI</a></li>-->
            <li><a th:href="@{/galeria}" th:classappend="${activePage == 'galeria' ? 'active' : ''}">GALERIA</a></li>
        </ul>
    </nav>
</div>
</body>
</html>